src/QNF.Plataforma.API/bin
src/QNF.Plataforma.API/obj/project.assets.json
src/QNF.Plataforma.API/obj/project.nuget.cache
src/QNF.Plataforma.API/obj/QNF.Plataforma.API.csproj.nuget.dgspec.json
src/QNF.Plataforma.API/obj/QNF.Plataforma.API.csproj.nuget.g.targets
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.AssemblyInfo.cs
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.AssemblyInfoInputs.cache
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.assets.cache
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.csproj.AssemblyReference.cache
src/QNF.Plataforma.Application/obj/Debug/net8.0/QNF.Plataforma.Application.AssemblyInfo.cs
src/QNF.Plataforma.Application/obj/Debug/net8.0/QNF.Plataforma.Application.AssemblyInfoInputs.cache
src/QNF.Plataforma.Application/obj/Debug/net8.0/QNF.Plataforma.Application.csproj.AssemblyReference.cache
src/QNF.Plataforma.Application/obj/Debug/net8.0/QNF.Plataforma.Application.csproj.CoreCompileInputs.cache
src/QNF.Plataforma.Core/bin/Debug/net8.0/QNF.Plataforma.Core.dll
src/QNF.Plataforma.Core/bin/Debug/net8.0/QNF.Plataforma.Core.pdb
src/QNF.Plataforma.Core/obj/Debug/net8.0/QNF.Plataforma.Core.AssemblyInfo.cs
src/QNF.Plataforma.Core/obj/Debug/net8.0/QNF.Plataforma.Core.AssemblyInfoInputs.cache
src/QNF.Plataforma.Core/obj/Debug/net8.0/QNF.Plataforma.Core.csproj.CoreCompileInputs.cache
src/QNF.Plataforma.Core/obj/Debug/net8.0/QNF.Plataforma.Core.dll
src/QNF.Plataforma.Core/obj/Debug/net8.0/QNF.Plataforma.Core.pdb
src/QNF.Plataforma.Core/obj/Debug/net8.0/ref/QNF.Plataforma.Core.dll
src/QNF.Plataforma.Core/obj/Debug/net8.0/refint/QNF.Plataforma.Core.dll
src/obj/MyApp.Api.EntityFrameworkCore.targets
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.API.deps.json
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.API.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.API.pdb
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.Application.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.Application.pdb
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.Core.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.Core.pdb
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.Infrastructure.dll
src/QNF.Plataforma.API/bin/Debug/net8.0/QNF.Plataforma.Infrastructure.pdb
src/QNF.Plataforma.API/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.AssemblyInfoInputs.cache
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.assets.cache
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.csproj.AssemblyReference.cache
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.csproj.CoreCompileInputs.cache
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.dll
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/QNF.Plataforma.Infrastructure.pdb
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/ref/QNF.Plataforma.Infrastructure.dll
src/QNF.Plataforma.Infrastructure/obj/Debug/net8.0/refint/QNF.Plataforma.Infrastructure.dll
src/QNF.Plataforma.API/obj/project.assets.json
src/QNF.Plataforma.API/obj/project.nuget.cache
src/QNF.Plataforma.API/obj/QNF.Plataforma.API.csproj.nuget.dgspec.json
src/QNF.Plataforma.API/obj/QNF.Plataforma.API.csproj.nuget.g.props
src/QNF.Plataforma.API/obj/QNF.Plataforma.API.csproj.nuget.g.targets
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.AssemblyInfo.cs
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.AssemblyInfoInputs.cache
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.assets.cache
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.csproj.AssemblyReference.cache
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.csproj.CoreCompileInputs.cache
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.csproj.FileListAbsolute.txt
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.dll
src/QNF.Plataforma.API/obj/Debug/net8.0/QNF.Plataforma.API.pdb
src/QNF.Plataforma.API/obj/Debug/net8.0/ref/QNF.Plataforma.API.dll
src/QNF.Plataforma.API/obj/Debug/net8.0/refint/QNF.Plataforma.API.dll
src/QNF.Plataforma.Application/QNF.Plataforma.Application.csproj
src/QNF.Plataforma.Application/bin/Debug/net8.0/QNF.Plataforma.Application.deps.json
src/QNF.Plataforma.Application/bin/Debug/net8.0/QNF.Plataforma.Application.dll
src/QNF.Plataforma.Application/bin/Debug/net8.0/QNF.Plataforma.Application.pdb
src/QNF.Plataforma.Application/bin/Debug/net8.0/QNF.Plataforma.Core.dll
src/QNF.Plataforma.Application/bin/Debug/net8.0/QNF.Plataforma.Core.pdb
